* {
    margin: 0;
    padding: 0;
    scroll-padding-top: 4rem;
}

:root {
    --bg-color: #000;
    --font-color: #fff
    --secondary-bg-color: #ff4900
    --font: "sans-serif";
   
}

body {
    /*background-color: var(--bg-color);*/
    font-family: var(--font);
    color: var(--font-color);
    height: 100vh;
    max-width: 100vw;
}
.container {
    padding: 0rem 12rem;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 2rem;
    }
    .about__me {
        padding: 0 2rem;
    }
}


/*------------HEADER-----------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    max-width: 13rem;
    padding-left: 3rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 4rem;
    font-size: 16px;
    margin-top: 1rem;    
    margin-right: 2.5rem; 
  }

  .nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
  }
  .nav-list ul li p {
    padding: 5px;
    font-size: 12px;
  }
  .nav-list :hover {
    text-decoration: underline;
  }

  .abrir-menu,
  .cerrar-menu {
    display: none;
  } 

  .flag {
  width: 24px;
  height: 13px;
  border-radius: 2px;
  display: flex;
  margin-top: .3rem;

}

.nav-list li ul li {
  display: flex;
  align-items: center;
  text-decoration: none;
  }

    .nav-list li ul li:nth-child(1) {
display: flex;
align-items: center;
text-decoration: none;
}


.nav-list li ul li p {
margin: 0;
}


/**-Responsive desing navbar-**/

/*------------HOME-----------*/

/*------------ABOUT ME-----------*/

/*------------SERVICES-----------*/


/*------------PROJECTS-----------*/


/*------------PRODUCTS-----------*/

/*------------CONTACT-----------*/

/*------------FOOTER-----------*/